# Server
PORT=5000
NODE_ENV=development

# Database
MONGO_URI=mongodb://localhost:27017/ems

# Auth
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=1d

# CORS
CLIENT_URL=http://localhost:5173
